# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: abelov <abelov@student.42london.com>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/17 22:43:22 by abelov            #+#    #+#              #
#    Updated: 2025/07/24 23:32:14 by abelov           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

build
/ex00/animals
/ex01/animals
/ex02/animals
