# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: abelov <abelov@student.42london.com>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/25 22:32:18 by abelov            #+#    #+#              #
#    Updated: 2025/07/25 22:32:19 by abelov           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

build
ex00/few
ex01/iter
ex02/array