# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: abelov <abelov@student.42london.com>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/07/25 23:01:06 by abelov            #+#    #+#              #
#    Updated: 2025/07/25 23:01:07 by abelov           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

build
easy
span
abomination
