# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: abelov <abelov@student.42london.com>       +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/03/26 13:50:52 by abelov            #+#    #+#              #
#    Updated: 2025/03/26 13:50:53 by abelov           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

build
/ex00/ClapTrap
/ex00/clapTrap
/ex01/ScavTrap
/ex01/scavTrap
/ex02/FragTrap
/ex02/fragTrap
/ex03/DiamondTrap
/ex03/diamondTrap
